

:root.theme-light {
  --bg-img: url("../images/cover-image-light.png");
  --bg-color-page: #FFF1F7;
  --bg-color-description: #FF8DCB;
  --color-title: #FFC2E6;
  --color-title-card: #353430;
  --color-description-section: #353430;
  --color-description-card: #353430;
  --main-font-bold: "IBMPlexMono-Bold";
  --main-font-regular: "IBMPlexMono-Regular";
  --accent-color: #FF8DCB;
  --opacity-decor-text: 0;
}

