.page {
  background-image: var(--bg-body-img);
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-cl-main);
 inline-size: 100vw;
 min-inline-size: 375px;
 overflow-x: hidden;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  padding-left: 10px;
  padding-right: 10px;
}

.decoration-text {
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  color: var(--color-decor);
  font-size: 1.125rem;
  line-height: 25px;
  top: 10px;
  right: 38px;
  opacity: var(--opacity-decor-zone);
}

.decoration-text::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 8px;
  right: -20px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px;
  background-color: var(--color-decor);
}

.decorated-zone {
  position: relative;
  block-size: 100vh;
  min-block-size: 41.75px;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25.04px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-width: 1px;
  border-color: var(--color-decor);
  border-right: transparent;
  border-top: transparent;
  border-style: solid;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25.04px;
  height: 25px;
  top: 10px;
 right: 10px;
  border-width: 1px;
  border-color: var(--color-decor);
  border-left: transparent;
  border-bottom: transparent;
  border-style: solid;
}

.header__theme-menu-button {
  color: var(--color-decor);
  font-size: 1.125rem;
  line-height: 18px;
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 75px;
}

.header__theme-menu-button:hover {
  outline: currentColor 1px solid;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-underline-offset: 1px;
  color: var(--color-decor);
}

.header__theme-menu {
  justify-self: end;
  grid-row: 2;
}

.header__title {
  grid-row: 3;
  margin-top: 65px;

}

.title__text {

  color: var(--color-header-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
margin-top: 55px;
  grid-row: 4;
  font-weight: 700;
  color: var(--color-header-description);
  background-color: var(--bg-cl-header-description);
}

.text__section {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  color: var(--color-section-title);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding-top: 40px;
  inline-size: 100vw;
  min-inline-size: 375px;
  background-color: var(--bg-cl-main);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__type-desk {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__title {
  color: var(--color-card-title);
  background-color: var(--bg-cl-card-title);
}

.card__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__description {
  color: var(--color-card-description);
}

.text__link {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.text__link:hover {
  text-decoration: underline;
  color: currentColor;
}

.text__link:focus-visible {
  outline: currentColor 1px solid;
}

.img__section {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  padding-left: 10px;
  padding-right: 10px;
  block-size: 100vh;
  min-block-size: 41.75rem;
  padding-top: 286px;
  background-color: var(--bg-cl-main);
}

.text__footer {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-body-img: url("../images/cover-image-light.png");
    --bg-cl-main: #fff1f7;
      --color-decor: #353430;
    --bg-cl-header-description: #ff8dcb;
    --color-header-title: #ffc2e6;
    --color-header-description: #353430;
    --color-section-title: #353430;
    --bg-cl-card-title: #ff8dcb;
    --color-card-title: #353430;
    --color-card-description: #353430;
    --accent-color: #ff8dcb;
    --opacity-decor-zone: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body-img: url("../images/cover-image-dark.png");
    --bg-cl-main: #000028;
    --color-decor: #FF0070;
    --bg-cl-header-description: #ff0070;
    --color-header-title: #db00ff;
    --color-header-description: #000028;
    --color-section-title: #ff0070;
    --bg-cl-card-title: #ff0070;
    --color-card-title: #000028;
    --color-card-description: #f1b2ce;
    --accent-color: #ff0070;
    --opacity-decor-zone: 100;
  }
}

@media (width >= 768px) {

  .decorated-zone {

    block-size: 100vh;
  }

  .decorated-zone::before {

    left: 20px;
    bottom: 20px;
  }

  .decorated-zone::after {

    top: 20px;
    right: 20px;
  }

  .decoration-text {

    top: 20px;
    right: 48px;
  }

  .decoration-text::after {

    right: -20px;
  }
  .header {
    block-size: 100vh;
    min-block-size: 64rem;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header__theme-menu-list {
    padding-top: 146px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    padding-top: 173px;
  }

  .header__description {
    margin-top: 162px;
    margin-left: 364px;
  }

  .all__cards {
    padding-top: 60px;
    gap: 80px;
  }

  .section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    padding-right: 20px;
  }

  .section__title {
    grid-column: 1;
  }

  .card {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .card__container {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .card__type-desk {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
  }

  .img__section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .img__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
  }

  .img__sunset {
    grid-column: 1/3;
    grid-row: 1;
  }

  .img__ice-cream {
    grid-column: 3;
    grid-row: -1/3;
  }

  .img__cassette {
    grid-column: 1;
    grid-row: 2/4;
  }

  .img__books {
    grid-column: 2;
    grid-row: 2;
  }

  .img__street {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer {
    block-size: 100vh;
    min-block-size: 64rem;
    padding-top: 463px;
  }
}
@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr min-content;
    block-size: 100vh;
    min-block-size: 48rem;
    padding-top: 20px;
  }

  .header__theme-menu {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
  }

  .decoration-text {
    padding-top: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-top: 0px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    margin-top: 114px;
    max-inline-size: 491px;
    justify-self: end;
    grid-column: 1/3;
  }

  .card__type-desk {
    flex-direction: row;
  }

  .footer {
    block-size: 100vh;
    min-block-size: 48rem;
    padding-top: 319px;
  }
}
