:root {
  --bg-img: url("../images/cover-image-dark.png");
   --bg-color-page: #000028;
  --bg-color-description: #ff0070;
  --color-title: #db00ff;
  --color-title-card: #ff0070;
  --color-description-section: #000028;
  --color-description-card: #f1b2ce;
  --main-font-bold: "IBMPlexMono-Bold";
  --main-font-regular: "IBMPlexMono-Regular";
  --accent-color: #ff0070;
  --opacity-decor-text: 100;
}

