:root {
  --bg-body-img: url("../images/cover-image-dark.png");
  --bg-cl-main: #000028;
  --color-decor: #ff0070;
  --color-button-menu: rgba(255, 0, 112, 0.4);
  --bg-cl-header-description: #ff0070;
  --color-header-title: #db00ff;
  --color-header-description: #000028;
  --color-section-title: #ff0070;
  --bg-cl-card-title: #ff0070;
  --color-card-title: #000028;
  --color-card-description: #f1b2ce;
  --accent-color: #ff0070;
  --opacity-decor-zone: 100;
}
